.switch {
  --toggle-size: 12px;
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);

  display: inline-block;
  flex-shrink: 0;
}

.switch,
.switch *,
.switch *::before,
.switch *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.container {
  position: relative;
  display: block;
  width: var(--container-width);
  height: var(--container-height);
  overflow: hidden;
  border-radius: var(--container-radius);
  background-color: var(--container-light-bg);
  box-shadow:
    0 -0.062em 0.062em rgb(0 0 0 / 25%),
    0 0.062em 0.125em rgb(255 255 255 / 94%);
  cursor: pointer;
  transition: var(--transition);
}

.container::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: var(--container-radius);
  box-shadow:
    0 0.05em 0.187em rgb(0 0 0 / 25%) inset,
    0 0.05em 0.187em rgb(0 0 0 / 25%) inset;
}

.checkbox:focus-visible + .container {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

.circle {
  position: absolute;
  top: var(--circle-container-offset);
  left: var(--circle-container-offset);
  display: flex;
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  border-radius: var(--container-radius);
  background-color: rgb(255 255 255 / 10%);
  box-shadow:
    inset 0 0 0 3.375em rgb(255 255 255 / 10%),
    inset 0 0 0 3.375em rgb(255 255 255 / 10%),
    0 0 0 0.625em rgb(255 255 255 / 10%),
    0 0 0 1.25em rgb(255 255 255 / 10%);
  pointer-events: none;
  transition: var(--circle-transition);
}

.sunMoon {
  position: relative;
  z-index: 2;
  display: block;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  overflow: hidden;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  box-shadow:
    0.062em 0.062em 0.062em 0 rgb(254 255 239 / 61%) inset,
    0 -0.062em 0.062em 0 #a1872a inset;
  filter: drop-shadow(0.062em 0.125em 0.125em rgb(0 0 0 / 25%))
    drop-shadow(0 0.062em 0.125em rgb(0 0 0 / 25%));
  pointer-events: auto;
  transition: var(--transition);
}

.moon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--moon-bg);
  box-shadow:
    0.062em 0.062em 0.062em 0 rgb(254 255 239 / 61%) inset,
    0 -0.062em 0.062em 0 #969696 inset;
  transform: translateX(100%);
  transition: var(--transition);
}

.spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  display: block;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  box-shadow: 0 0.0312em 0.062em rgb(0 0 0 / 25%) inset;
}

.spot:nth-of-type(2) {
  top: 0.937em;
  left: 1.375em;
  width: 0.375em;
  height: 0.375em;
}

.spot:nth-last-of-type(3) {
  top: 0.312em;
  left: 0.812em;
  width: 0.25em;
  height: 0.25em;
}

.clouds {
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  display: block;
  width: 1.25em;
  height: 1.25em;
  border-radius: var(--container-radius);
  background-color: var(--clouds-color);
  box-shadow:
    0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color),
    0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color),
    1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color),
    2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color),
    2.625em 0 var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  transition: var(--transition);
}

.stars {
  position: absolute;
  top: -100%;
  left: 0.312em;
  display: block;
  width: 2.75em;
  height: auto;
  color: var(--stars-color);
  transition: var(--transition);
}

.stars svg {
  display: block;
  width: 100%;
}

.checkbox:checked + .container {
  background-color: var(--container-night-bg);
}

.checkbox:checked + .container .circle {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.checkbox:checked + .container .circle:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em);
}

.circle:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.checkbox:checked + .container .moon {
  transform: translate(0);
}

.checkbox:checked + .container .clouds {
  bottom: -4.062em;
}

.checkbox:checked + .container .stars {
  top: 50%;
  transform: translateY(-50%);
}
